html,
body,
#root {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: $main-background-color;
}

h1 {
  margin: 0;
  padding: 0;
}

.main-content {
  flex: 2;
}
