@import url("https://fonts.googleapis.com/css?family=Raleway");
header {
  background: #071826;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  flex-shrink: 0; }
  header a {
    margin: 0 0 0 15px;
    color: #FFF; }

footer {
  background: #164059;
  padding: 1em;
  color: #FFF;
  font-size: 12px; }

html, body, #root {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #F2F2F0; }

h1 {
  margin: 0;
  padding: 0; }

.main-content {
  flex: 2; }
